<% if !@items.empty?%>
    <header class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="/inventory">Inventory (Total: $<%= sprintf("%.2f", Item.total(session[:user_id])) %>)</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarToggler">
                <a href="/expenses/new"><button type="button" class="btn btn-info float-right">Add Item</button></a>
                </div>
    </header>

<div class="container">
    <% @items.each do |item| %>
        <a href="/items/<%= item.id %>">
            <div class="item">
                <h2><%= item.name %></h2>
                <p><h3><%= item.brand %></h3></p>
                <p>Size <%= item.size %></p>
                <p>Cost: $<%= sprintf("%.2f",item.cost) %></p>
            </div>
        </a>
    <% end %>
</div>

<% else %>
<h2>Inventory (Total: $0)</h2>
<p>No items added, please <a href="/items/new">click here</a> to add an item.</p>
<% end %>