<header class="navbar navbar-expand-md navbar-dark bg-dark">
            <span class="navbar-brand"><%= @item.name %></span>
</header>

<div class="container-fluid pt-1 pl-3">
    <div class="card" style="width: 18rem">
        <div class="card-body">
            <h5><%= @item.brand %></h5>
            <p>Size <%= @item.size %></p>
            <p>Cost: $<%= sprintf("%.2f",@item.cost) %></p>
            <p>Purchased from <strong><%= @item.purchased_from %></strong> on <strong><%= @item.purchase_date %></strong></p>
            <a href="/items/<%= @item.id %>/edit"><button class="btn btn-primary" type="submit">Edit Item</button></a>
        </div>
    </div>
</div>