<h2><%= @item.name %></h2>
<h3><%= @item.brand %></h3><br>
<p>Size <%= @item.size %></p>
<p>Cost: $<%= @item.item_cost %></p>
<p>Purchased from <strong><%= @item.purchased_from %></strong> on <strong><%= @item.purchase_date %></strong></p>