<div class="nav">
    <h2><%= @item.name %></h2>
    <a href="/logout">Log Out</a>
    <a href="/expenses">Expenses</a>
    <a href="/items">Inventory</a>
    <a href="/dashboard">Dashboard</a>
</div>
<h3><%= @item.brand %></h3><br>
<p>Size <%= @item.size %></p>
<p>Cost: $<%= sprintf("%.2f",@item.cost) %></p>
<p>Purchased from <strong><%= @item.purchased_from %></strong> on <strong><%= @item.purchase_date %></strong></p>
<h3><a href="/items/<%= @item.id %>/edit">Edit Item</a>