<h2><%= @item.name %></h2>
<form method="POST" action="/items/<%= @item.id %>">
<input type="hidden" id="hidden" name="_method" value="patch"> 
<p><label for="name">Item Name</label>
<input type="text" name="name" id="name" value="<%= @item.name %>"></p>
<p><label for="brand">Item Brand</label>
<input type="text" name="brand" id="brand" value="<%= @item.brand %>"></p>
<p><label for="size">Size</label>
<input type="text" name="size" id="size" value="<%= @item.size %>"></p>
<p><label for="cost">Item Cost</label>
<input type="text" name="cost" id="cost" value="$<%= @item.cost %>"></p>
<p><label for="purchased_from">Purchased From</label>
<input type="text" name="purchased_from" id="purchased_from" value="<%= @item.purchased_from %>"></p>
<p><label for="purchase_date">Purchase Date</label>
<input type="date" name="purchase_date" id="purchase_date" value="Purchase Date"></p>
<input type="submit" value="Update Item">
</form>
<form method="POST" action="/items/<%= @item.id %>">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Item">
</form>