<% if !@expenses.empty? %>
<div class="nav">
    <h2>Expenses (Total: $<%= sprintf("%.2f", Expense.total(session[:user_id])) %>)</h2>
    <a href="/logout">Log Out</a>
    <a href="/expenses">Expenses</a>
    <a href="/items">Inventory</a>
    <a href="/dashboard">Dashboard</a>
</div>
<p><a class="options" href="/expenses/new">Add Expense</a></p>
<div class="container">
    <% @expenses.each do |expense| %>
        <a href="/expenses/<%= expense.id %>">
            <div class="item">
                <h2><%= expense.name %></h2>
                <p><h3><%= expense.category %></h3></p>
                <p>Cost: $<%= sprintf("%.2f",expense.cost) %></p>
            </div>
        </a>
    <% end %>
</div>
<% else %>
<div class="nav">
    <h2>Expenses (Total: $0)</h2>
    <a href="/logout">Log Out</a>
    <a href="/expenses">Expenses</a>
    <a href="/items">Inventory</a>
    <a href="/dashboard">Dashboard</a>
</div>
<p>No expenses added, please <a href="/expenses/new">click here</a> to add an expense.</p>
<% end %>