<div class="nav">
    <h2><%= @expense.name %></h2>
    <a href="/logout">Log Out</a>
    <a href="/expenses">Expenses</a>
    <a href="/items">Inventory</a>
    <a href="/dashboard">Dashboard</a>
</div>
<h3><%= @expense.category %></h3><br>
<p>Cost: $<%= sprintf("%.2f", @expense.cost) %></p>
<p>Purchased from <strong><%= @expense.purchased_from %></strong> on <strong><%= @expense.purchase_date %></strong></p>
<h3><a href="/expenses/<%= @expense.id %>/edit">Edit Expense</a>