<<<<<<< HEAD
<div class="nav">
    <h2>Welcome, <%= @user.username %></h2>
    <a href="/logout">Log Out</a>
    <a href="/expenses">Expenses</a>
    <a href="/items">Inventory</a>
    <a href="/dashboard">Dashboard</a>
</div><ul>
<li><a href="/items">Inventory:</a> $<%= sprintf("%.2f", total("items")) %></li>
<li><a href="/expenses">Expenses:</a> $<%= sprintf("%.2f", total("expenses")) %></li>
</ul><br>
=======
<a href="/items">Inventory:</a> $<%= Item.total(session[:user_id]).to_s %>
<a href="/expenses">Expenses:</a> $<%= Expense.total(session[:user_id]).to_s %>

>>>>>>> styling
